@charset "UTF-8";
/*ОБНУЛЕНИЕ СТИЛЕЙ БРАУЗЕРА ====================================================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus, *:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
}

body {
  line-height: 1;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input:-internal-autofill-selected {
  background-color: inherit !important;
  color: inherit !important;
}

.hidden {
  display: none;
}

/*===================================================*/
/*ОСНОВНАЯ СЕТКА=====================================*/
/*===================================================*/