.blog-content {
  position: relative;
}

.blog-content_row {
  display: flex;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 21px;
}

.blog-content_main-block {
  width: 70%;
  margin-right: 55px;
}