/*PAGE_TITLE =======================================================================*/
.page-title {
  background-color: rgba(232, 102, 60, 0.502);
}

.page-title_row {
  margin: 0 10px;
  background-color: #e8663c;
  padding: 35px 30px;
  display: flex;
}

/*==============================================================================================*/