/*PORTFOLIO-BLOCK =======================================================================*/
.portfolio-item_image {
  height: 400px;
}

.portfolio-item_image img {
  height: 100%;
  width: auto;
}

/*==============================================================================================*/