//
	BLOG-CONTENT
section.blog-content
	.container
		.shell
			.blog-content_row
				.blog-content_main-block
					//
						Content-block with slider
					.blog-content_line
						.blog-content_line_icon
							img(src="../img/blog-image/blog-icon-1.png", alt="")
						.blog-content_line_image.blog-content_line_image-slider
							img(src="../img/blog-image/blog-image-1.png", alt="")
							button.arrow-prev
								img(src="../img/previous.svg", alt="previous-arrow")
							button.arrow-next
								img(src="../img/next.svg", alt="next-arrow")
						.blog-content_line_content
							.blog-content_line_details
								.details_item
									h3 Date
									p April 15, 2012
								.details_item
									h3 Tags
									p Website  |  Design
								.details_item
									h3 Comments	
									p 4
							.blog-content_line_text
								h2 Top  WordPress  Themes  of  2012
								p Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
								p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis 
									span ...
						.blog-content_line_grey-line
					//
						Content-block with Jesus  Typography
					.blog-content_line
						.blog-content_line_icon
							img(src="../img/blog-image/blog-icon-2.png", alt="")
						.blog-content_line_image.blog-content_line_image-slider
							img(src="../img/blog-image/blog-image-2.png", alt="")
						.blog-content_line_content
							.blog-content_line_details
								.details_item
									h3 Date
									p April 15, 2012
								.details_item
									h3 Tags
									p Website  |  Design
								.details_item
									h3 Comments	
									p 4
							.blog-content_line_text
								h2 Jesus  Typography  Wallpaper  Giveaway!
								p Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
								p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis 
									span ...
						.blog-content_line_grey-line
					//
						Content-block with video
					.blog-content_line
						.blog-content_line_icon
							img(src="../img/blog-image/blog-icon-3.png", alt="")
						.blog-content_line_image.blog-content_line_image-slider
							img(src="../img/blog-image/blog-image-3.png", alt="")
						.blog-content_line_content
							.blog-content_line_details
								.details_item
									h3 Date
									p April 15, 2012
								.details_item
									h3 Tags
									p Website  |  Design
								.details_item
									h3 Comments	
									p 4
							.blog-content_line_text
								h2 Big  Buck  Bunny  Trailer
								p Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
								p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis 
									span ...
						.blog-content_line_grey-line
					//
						Content-block with quote
					.blog-content_line
						.blog-content_line_icon
							img(src="../img/blog-image/blog-icon-4.png", alt="")
						.blog-content_line_content_quote
							span “
							p Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you. 
						.blog-content_line_grey-line
					//
						Content-block with link
					.blog-content_line
						.blog-content_line_icon
							img(src="../img/blog-image/blog-icon-5.png", alt="")
						.blog-content_line_content_link
							h2 Some  of  the  best  freebies  on  the  web
							a(href="#") Some  of  the  best  freebies  on  the  web
							p Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you. 
						.blog-content_line_grey-line
					
					.blog-content_counter
						.blog-content_counter_item.counter-active
							| 1
						.blog-content_counter_item
							| 2
						.blog-content_counter_item
							| 3
				//
					Right-side-block
				include right-side-block