// 
  FOOTER
footer
  .container
    .shell
      .footer-row
        .footer-column
          .footer-column_title About-Jetro
          .footer-column_content
            p.footer-column_text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando.
            p.footer-column_text Pro et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim.
        .footer-column
          .footer-column_title Twitter Widget
          .footer-column_content
            p.footer-column_text 
              span.twitter-special-color @pixelmater 
              | What an awesome design with great functionality :)
              span.twitter-time-counter.twitter-special-color about 1 hour ago
            p.footer-column_text 
              span.twitter-special-color @designdude 
              | What an awesome design with great functionality :)
              span.twitter-time-counter.twitter-special-color about 2 hour ago
            p.footer-column_text Follow 
              span.twitter-special-color @bestpsdfreebies
        .footer-column
          .footer-column_title Contact  Us
          .footer-column_content
            p.footer-column_text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. 
            p.footer-column_text 
              | information@jetro.com 
              br 
              | 1.222.333.4444
            .footer-column_social-icon
              a.footer-column_social-link(href="#")
                img(src="../img/footer-image/facebook.png", alt="facebook-icon")
              a.footer-column_social-link(href="#")
                img(src="../img/footer-image/twitter.png", alt="twitter-icon")
              a.footer-column_social-link(href="#")
                img(src="../img/footer-image/email.png", alt="email-icon")
              a.footer-column_social-link(href="#")
                img(src="../img/footer-image/rss.png", alt="rss-icon")
              a.footer-column_social-link(href="#")
                img(src="../img/footer-image/vimeo.png", alt="vimeo-icon")


