//
	PORTFOLIO-BLOCK
section
	.container
		.shell
			.portfolio-block
				nav.portfolio-block_nav
					a.portfolio-block_nav_link.portfolio-block_nav_link-active(href="#") All
					a.portfolio-block_nav_link(href="#") Print
					a.portfolio-block_nav_link(href="#") Web
					a.portfolio-block_nav_link(href="#") Photoshop
					a.portfolio-block_nav_link(href="#") WorDPress
				.portfolio-block_items
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Character-Design.png", alt="")
						h2 Character  Design
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Brochure-Design.png", alt="")
						h2 Brochure  Design
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Social-Media-Buttons.png", alt="")
						h2 Social Media Buttons
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/WordPress-Theme.png", alt="")
						h2 WordPress  Theme
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Poster.png", alt="")
						h2 Poster
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Web-Graphic-Element.png", alt="")
						h2 Web  Graphic  Element
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Brochure- Design-Gun.png", alt="")
						h2 Brochure  Design
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Big-buck-Bunney.png", alt="")
						h2 Big  buck  Bunney
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Cartoon -Characters.png", alt="")
						h2 Cartoon  Characters
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Sticker-Design.png", alt="")
						h2 Sticker  Design
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Business -Cards.png", alt="")
						h2 Business  Cards
						h3 June 15, 2012
					.portfolio-block_item
						.portfolio-block_item_image
							a(href="../html/portfolio-item.html")
								img(src="../img/portfolio-image/Slider -Plugin.png", alt="")
						h2 Slider  Plugin
						h3 June 15, 2012
