// 
  PRESENTATION-BLOCK
section.presentation-block
  .container
    .shell
      .presentation-block_header
        h2 Recent  Works
        span.presentation-block__grey-line
      .presentation-block_row
        .presentation-block_column
          .presentation-block_image
            img(src="../img/portfolio-image/Character-Design.png", alt="Character-Design")
          .presentation-block_title
            h3 Character Design
          .presentation-block_date
            h4 June 15, 2012
        .presentation-block_column
          .presentation-block_image
            img(src="../img/portfolio-image/Brochure-Design.png", alt="Brochure-Design")
          .presentation-block_title
            h3 Brochure Design
          .presentation-block_date
            h4 June 15, 2012
        .presentation-block_column
          .presentation-block_image
            img(src="../img/portfolio-image/Social-Media-Buttons.png", alt="Social-Media-Buttons")
          .presentation-block_title
            h3 Social Media Buttons
          .presentation-block_date
            h4 June 15, 2012
        .presentation-block_column
          .presentation-block_image
            img(src="../img/portfolio-image/WordPress-Theme.png", alt="Character-Design")
          .presentation-block_title
            h3 Character Design
          .presentation-block_date
            h4 June 15, 2012
