//
	Right-side-block
.about-block_right-side-column
	.about-block_right-side_line
		.right-side_line_header
			h3 AbouT  Jetro
			span.right-side_line_grey-line
		.right-side_line_content
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum. 
	.about-block_right-side_line
		.right-side_line_header
			h3 Categories
			span.right-side_line_grey-line
		.right-side_line_content
			ul
				li Video (3)
				li Sports (5)
				li Media (2)
				li Entertainment (7)
				li Life (4)
				li Super Cool Stuff (8)
	.about-block_right-side_line
		.right-side_line_header
			h3 Photo  Gallery
			span.right-side_line_grey-line
		.right-side_line_content.right-side_line_photo-gallery
			.right-side_photo-gallery_item
			.right-side_photo-gallery_item
			.right-side_photo-gallery_item
			.right-side_photo-gallery_item
			.right-side_photo-gallery_item
			.right-side_photo-gallery_item
			.right-side_photo-gallery_item
			.right-side_photo-gallery_item


