// 
  SLIDER
section.slider
  .container
    .shell
      .slider-row
        .slider_main-block
          .slider_main-image
            img(src="../img/portfolio-image/Poster.png", alt="slider-image")
            .slider_content
              h3 Slide  One
              p Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
            button.arrow-prev
              img(src="../img/previous.svg", alt="previous-arrow")
            button.arrow-next
              img(src="../img/next.svg", alt="next-arrow")
        .slider-storage
          .slider-storage_item
            img(src="../img/portfolio-image/Poster.png", alt="")
          .slider-storage_item
            img(src="../img/portfolio-image/Brochure-Design.png", alt="")
          .slider-storage_item
            img(src="../img/portfolio-image/Web-Graphic-Element.png", alt="")
          .slider-storage_item
            img(src="../img/portfolio-image/4.png", alt="")
          .slider-storage_item
            img(src="../img/portfolio-image/Sticker-Design.png", alt="")
          .slider-storage_item
            img(src="../img/portfolio-image/Slider -Plugin.png", alt="")





