extends main

block title
	| JETRO ABOUT  US

block content
	include basic-modules/header
	include basic-modules/page-title
		block page-title
			| About Us
	include basic-modules/about-block
	include basic-modules/footer