extends main

block title
	| JETRO BLOG

block content
	include basic-modules/header
	include basic-modules/page-title
		block page-title
			| Blog
	include basic-modules/blog-content
	include basic-modules/footer