extends main

block title
	| JETRO CONTACT US

block content
	include basic-modules/header
	include basic-modules/page-title
		block page-title
			| Contact Us
	include basic-modules/contacts-block
	include basic-modules/footer